html
{
    margin: 1vw 6vw; 
}

header{
    border-color: #24204eb4;
    border-style: inset;    
    /*background-color: #32a85283;*/
    border-width: 1vw;    
    display:inline-flex;
    align-items: center;
    background-image:url(imagenes/banner_blue.jpg);
    border-radius: 35px 95px;
}

h1{
    /*font-family: 'Sansita Swashed', cursive;*/
    /*font-family: 'Syne Mono', monospace;*/
    font-family: 'Fredoka', sans-serif;
    /*font-family: 'Fira Sans', sans-serif;*/
    color: #161816d0;
    text-align: center;
    font-size: 6vw;    
    align-content: center; 
    font-weight: 700;       
}

.foto1{
    border-radius: 35px 95px;
    border-color: #24204eb4;
    border-style: inset;
    border-width: 0.5vw;  
    float: right;   
    /*background-color:rgba(134, 172, 187, 0.747);*/
    margin-top: 2.0vw;
    margin-bottom: 1.0vw;
    margin-right: 1.0vw;
    max-width: 18vw;
    max-height: 18vw;
}



