html
{
    margin: 1vw 6vw; 
}

body{
    background-color: lightblue;
    font-family: 'Fredoka', sans-serif;
    color: #161816d0;
    text-align: justify;
}


header{
    border-color: #24204eb4;
    border-style: inset;    
    border-width: 1vw;    
    display:inline-flex;
    background-image:url(imagenes/banner_blue.jpg);
    border-radius: 35px 95px;
    margin-bottom: 2vw;
}

h1{
    /*font-family: 'Sansita Swashed', cursive;*/
    /*font-family: 'Syne Mono', monospace;*/
    font-family: 'Fredoka', sans-serif;
    /*font-family: 'Fira Sans', sans-serif;*/
    text-align: center;
    font-size: 6vw;    
    font-weight: 700;       
}

div{
    border-color: #24204eb4;
    border-style: inset;    
    border-width: 1vw;    
    background-image: url(imagenes/banner_blue.jpg);
    border-radius: 15px 15px;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.foto1{
    border-radius: 35px 95px;
    border-color: #24204eb4;
    border-style: inset;
    border-width: 0.5vw;  
    margin-top: 2.0vw;
    margin-bottom: 1.0vw;
    margin-right: 1.0vw;
    max-width: 18vw;
    max-height: 18vw;
}

h2{
    font-size: 4vw;
    text-align: center;
    font-weight: 550;   
}

p{
    font-family: 'Fira Sans', sans-serif;
    padding: 1vw;
    font-size: 2vw;    
    font-weight: 550;
}

.text{
    
    font-size: 20px;
}

.inline{
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin: auto;
    display: inline-flexbox;
    margin-top: 20px;
}

